body{
    font-size: 5vh;
    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    margin: 0;
    padding:0;
}

div {
    gap: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.action-item.person .text {
    display: none;
    color: black;
    font-size: 0.9rem;
    z-index: 3;
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.95); */
}

.message-item:hover .action-item.person .text {
    display: inline-block;
    /* position: absolute; */
}

/*******/
.message-item {
    flex-direction: row;
}

.message-item.is-current-user {
    flex-direction: row-reverse;
    gap: 0;
}

.message-item.same-person {
    margin-top: -3px;
}

.message-item .circle {
    flex-direction: row;
    font-size: 8rem;
    gap: 3px;
    height: 3rem;
    padding-right: 0;
}

/*******/

.dialog .profile>.action-item.person .text,
.dialog .message-item .text,
.dialog .profile>.person-icon .text {
    display: block;
    opacity: 1;
    visibility: visible;
    max-height: 10rem;
    max-width: 10rem;
}

.dialog .search .action-item.person .text {
    display: none;
}

.message-item .message-text,
.message-item-sender .message-text {
    flex-direction: column;
    font-size: 1rem;
    gap: 1px;
    /* background: white; */
    background: #CAF2FF;
    border: 1px solid #BAE2EF;
    margin: 0 24px 0 3px;
    padding: .75rem;
    border-radius: 9px 9px 9px 0;
    color: #000000CC;
    box-shadow: none;
    text-shadow: none;
    text-align: justify;
}

.message-item.is-current-user .message-text {
    background: #F0DCFF;
    border: 1px solid #E0CCEF;
    margin: 0 1px 0 50px;
    border-radius: .75rem .75rem 0 .75rem;
}

/*noinspection CssUnusedSymbol*/
.page.connect_chat .person.connect_person {
    display: none;
}
.icon{
    width: 1.5rem;
    height: 1.5rem;
}
.input-message, .message-input{
    width: 100%;
}
.content-panel,
.message-panel {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow-y: scroll;
}
.content-panel{
    width: 100%;
    padding: 3px;
    gap:1em;
    height: 98vh;
    overflow: hidden;
}
